<!--<!DOCTYPE html>-->
<!--<html prefix="og: http://ogp.me/ns#" xmlns:og="http://ogp.me/ns#">-->
  <!--<head>-->
    <!--<meta charset="utf-8">-->
    <!--<title>-->
      <!--{% if is_login %}Login-->
      <!--{% elif is_home %}{{ site.author }}-->
      <!--{% elif is_tag %}{{ tag }}-->
      <!--{% elif post %}{{ post.title }}-->
      <!--{% endif %}-->
      <!--| {{ site.name }}-->
    <!--</title>-->

    <!--{{ header_meta }}-->

    <!--<link href="{{ assets('css/style.css') }}" rel="stylesheet" />-->

    <!--{% if site.analytics %}-->
    <!--<script>-->
    <!--var _gaq = _gaq || [];-->
    <!--_gaq.push(['_setAccount', '{{ site.analytics }}']);-->
    <!--_gaq.push(['_trackPageview']);-->
    <!--(function() {-->
    <!--var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;-->
    <!--ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';-->
    <!--var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);-->
    <!--})();-->
    <!--</script>-->
    <!--{% endif %}-->
  <!--</head>-->
  <!--<body>-->

    <!--{% if is_login %}-->

      <!--{{ login_form }}-->

    <!--{% else %}-->
    <!--<div class="wrap">-->
      <!--<header class="header">-->
        <!--<div class="avatar">-->
          <!--<a href="/"><img src="{{ site.avatar }}" class="img-circle" alt="{{ site.author }}" /></a>-->
        <!--</div>-->
        <!--<div class="nav-logo">-->
          <!--<div class="logo">-->
            <!--<h1><a href="/" rel="home">{{ site.name }}</a></h1>-->
          <!--</div>-->
          <!--<nav id="nav">-->
            <!--<ul>-->
              <!--<li><a href="/">Home</a></li>-->
              <!--{% if pages %}-->
              <!--{% for page in pages %}-->
              <!--<li><a href="{{ page.permalink }}" class="{{ set_active(page.permalink) }}">{{ page.title }}</a></li>-->
              <!--{% endfor %}-->
              <!--{% endif %}-->
            <!--</ul>-->
          <!--</nav>-->
        <!--</div>-->
        <!--<div class="social-icons">-->
          <!--<ul>-->
            <!--{% if site.twitter %}-->
            <!--<li>-->
              <!--<a href="{{ site.twitter }}" title="Twitter" target="_blank">-->
                <!--<i class="icon-twitter"></i>-->
                <!--<span class="hide-text">Twitter</span>-->
              <!--</a>-->
            <!--</li>-->
            <!--{% endif %}-->
            <!--{% if site.facebook %}-->
            <!--<li>-->
              <!--<a href="{{ site.facebook }}" title="Facebook" target="_blank">-->
                <!--<i class="icon-facebook"></i>-->
                <!--<span class="hide-text">Facebook</span>-->
              <!--</a>-->
            <!--</li>-->
            <!--{% endif %}-->
            <!--{% if site.googleplus %}-->
            <!--<li>-->
              <!--<a href="{{ site.googleplus }}?rel=author" title="Google+" target="_blank">-->
                <!--<i class="icon-google-plus"></i>-->
                <!--<span class="hide-text">Google Plus</span>-->
              <!--</a>-->
            <!--</li>-->
            <!--{% endif %}-->
            <!--{% if site.linkedin %}-->
            <!--<li>-->
              <!--<a href="{{ site.linkedin }}" title="LinkedIn" target="_blank">-->
                <!--<i class="icon-linkedin"></i>-->
                <!--<span class="hide-text">LinkedIn</span>-->
              <!--</a>-->
            <!--</li>-->
            <!--{% endif %}-->
            <!--&lt;!&ndash;<li>&ndash;&gt;-->
              <!--&lt;!&ndash;<a href="{{ site.atom_url }}" title="RSS" target="_blank">&ndash;&gt;-->
                <!--&lt;!&ndash;<i class="icon-rss"></i>&ndash;&gt;-->
                <!--&lt;!&ndash;<span class="hide-text">RSS</span>&ndash;&gt;-->
              <!--&lt;!&ndash;</a>&ndash;&gt;-->
            <!--&lt;!&ndash;</li>&ndash;&gt;-->
          <!--</ul>-->
        <!--</div>-->
      <!--</header>-->

<!DOCTYPE html>
<!--[if IE 7]>					<html class="ie7 no-js" lang="en">     <![endif]-->
<!--[if lte IE 8]>              <html class="ie8 no-js" lang="en">     <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="not-ie no-js" lang="en">  <!--<![endif]-->
<head>
    <!-- Google Web Fonts
  ================================================== -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600italic|Handlee' rel='stylesheet' type='text/css'>

    <!-- Basic Page Needs
  ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--[if ie]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->

    <title>ThinkBridge Software | Blogs</title>

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/x-icon" href="favicon.ico" />

    <!-- Mobile Specific Metas
  ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
  ================================================== -->
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/skeleton.css" />
    <link rel="stylesheet" href="css/layout.css" />
    <link rel="stylesheet" href="css/font-awesome.css" />

    <link rel="stylesheet" href="js/layerslider/css/layerslider.css" />
    <link rel="stylesheet" href="js/fancybox/jquery.fancybox.css" />

    <!-- HTML5 Shiv
    ================================================== -->
    <script src="js/jquery.modernizr.js"></script>

</head>

<body class="wide normal pattern-1 color-1">

<div id="wrapper">

    <header id="header">

        <div class="container">

            <div class="eight columns">

                <div id="logo">
                    <a href="index.html"><img src="../images/logo.png"  alt="logo"></a>
                </div><!--/ #logo-->

            </div><!--/ .columns-->

            <div class="eight columns">

                <div class="widget widget_contacts">

                    <div class="vcard clearfix">

                        <p class="top-phone">Call Us : <span>+1 651-91 THINK</span></p>

                    </div><!--/ .vcard-->

                    <div class="clear"></div>

                    <ul class="social-icons">
                        <li class="twitter"><a href="#">Twitter</a></li>
                        <li class="facebook"><a href="#">Facebook</a></li>
                        <li class="rss"><a href="#">Rss</a></li>
                        <li class="vimeo"><a href="#">Vimeo</a></li>
                        <li class="linkedin"><a href="#">LinkedIn</a></li>
                    </ul><!--/ .social-icons -->

                </div>

            </div><!--/ .columns-->

            <div class="clear"></div>

            <div class="sixteen columns">

                <div class="menu-container clearfix">

                    <nav id="navigation" class="navigation">

                        <div class="menu">
                            <ul>
                                <li class="current-menu-item"><a href="index.html">Home</a>
                                </li>
                                <li><a href="#">Clients</a>
                                    <ul>
                                        <li><a href="services.html">Services</a></li>
                                        <li><a href="left-nav.html">Case Studies</a></li>
                                    </ul>
                                </li>
                                <li><a href="about-us.html">Our Team</a>
                                    <ul>
                                        <li><a href="about-us.html">About Us</a></li>
                                        <li><a href="faq.html">Explore Opportunities</a></li>
                                        <li><a href="about-us.html">Advisory Board</a></li>
                                    </ul>
                                </li>
                                <li><a href="typography.html">Investors</a>
                                    <ul>
                                        <li><a href="ideaacademy.html">Idea Academy</a></li>
                                        <li><a href="faq.html">Explore Opportunities</a></li>
                                    </ul>
                                </li>
                                <li><a href="blog.html">Insights</a>
                                </li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>

                    </nav><!--/ .navigation-->

                    <div class="search-wrapper">

                        <form method="post" action="/">

                            <p>
                                <input name="s" id="s" type="text">
                                <button type="submit" class="submit-search">Search</button>
                            </p>

                        </form>

                    </div><!--/ .search-wrapper-->

                </div><!--/ .menu-container-->

            </div><!--/ .columns-->

        </div><!--/ .container-->

    </header><!--/ #header-->


    {% if is_home or is_tag %}
      <div class="post-area">

        {% if is_tag %}
        <h2 class="tag-head">Showing all posts tagged {{ tag }}:</h2>
        {% endif %}

        {% if posts %}
        <section itemscope itemtype="http://schema.org/Blog" class="posts">
        {% for post in posts %}
          <article itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting" class="blog-post">
            {% if post.photos %}
            {% for photo in post.photos %}
            {% if loop.index == 1 %}
            <div class="post-image">
              <a href="{{ post.permalink }}">
                {% if photo %}
                <img src="{{ photo.width_600 }}" alt="Picture {{ loop.index }}" />
                {% else %}
                <img src="http://placehold.it/400x300/0eafff/ffffff.png" alt="" />
                {% endif %}
              </a>
              {% if post.tags %}
              <div class="post-tags">
                <p>{{- post.tags|format_tags(humanize=True) -}}</p>
              </div>
              {% endif %}
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            <div class="post-content">
              <h2><a href="{{ post.permalink }}">{{ post.title }}</a></h2>
              <p class="post-date"><time datetime="{{ post.created_at }}">{{ post.created_at|date_format }}</time></p>
              {% if post.tags and not post.photos %}
              <p class="post-tags">{{- post.tags|format_tags(humanize=True) -}}</p>
              {% endif %}
              {% if post.content|striptags|wordcount > 0 %}
              <p>{{ post.content|striptags|truncate(200) }}</p>
              <p class="post-link"><a href="{{ post.permalink }}">View more &rarr;</a></p>
              {% endif %}
            </div>
          </article>
        {% endfor %}
        </section>
        {% if not is_tag %}
        <div class="pagination">
          {% if pagination.prev %}<a href="{{ pagination.prev }}" class="post-prev">&larr; View Previous Posts</a>{% endif %}
          {% if pagination.next %}<a href="{{ pagination.next }}" class="post-next">View More Posts &rarr;</a>{% endif %}
        </div>
        {% endif %}
        {% else %}
        <h2 class="title"><em>No posts yet :(</em></h2>
        {% endif %}

      {% elif post.type == 'post' %}

      <article itemscope itemtype="http://schema.org/BlogPosting" class="post">
        <section class="content">

          <div class="post-content" data-type-cleanup="true">
            <header>
              <h1>{{ post.title }}</h1>
            </header>
            <p class="post-date">Published by {{ site.author }}, <time datetime="{{ post.created_at }}">{{ post.created_at|date_format }}</time></p>
            {{ post.content}}
          </div>
          <div class="post-footer">
            {{ theme.social.bar }}
            {% if post.tags %}
              <p><strong>Tags:</strong> {{ post.tags|format_tags(humanize=True) }}</p>
            {% endif %}
          </div>
        </section>
        {% if site.disqus %}
        <hr class="large" />
        <section class="comments">
          <div id="disqus_thread"></div>
          <script type="text/javascript">
          var disqus_shortname = '{{ site.disqus }}';
          var disqus_url = '{{site.base_url}}{{ post.permalink }}';
          (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
          </script>
          <noscript>
            Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
          </noscript>
          <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        </section>
        {% endif %}
      </article>
      <!--
      <div class="post-nav">
        <div class="post-prev"></div>
        <div class="post-next"></div>
      </div>
      -->

      {% elif post.type == 'link' %}

      <article itemscope itemtype="http://schema.org/BlogPosting" class="post">
        <section class="content">
          <div class="post-content" data-type-cleanup="true">
            <header>
              <h1>{{ link.title }}</h1>
            </header>
            <p class="post-date">Published by {{ site.author }}, <time datetime="{{ link.created_at }}">{{ link.created_at|date_format }}</time></p>
            {{ link.content }}
            <p class="link-url"><i class="icon-share"></i> <a href="{{ link.url }}">{{ link.url }}</a></p>
          </div>
          <div class="post-footer">
            {{ theme.social.bar }}
            {% if post.tags %}
              <p><strong>Tags:</strong> {{ post.tags|format_tags(humanize=True) }}</p>
            {% endif %}
          </div>
        </section>
        {% if site.disqus %}
        <hr class="large" />
        <section class="comments">
          <div id="disqus_thread"></div>
          <script type="text/javascript">
          var disqus_shortname = '{{ site.disqus }}';
          var disqus_url = '{{site.base_url}}{{ post.permalink }}';
          (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
          </script>
          <noscript>
            Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
          </noscript>
          <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        </section>
        {% endif %}
      </article>
      <!--
      <div class="post-nav">
        <div class="post-prev"></div>
        <div class="post-next"></div>
      </div>
      -->

      {% elif post.type == 'page' %}

      <div class="page">
        <div class="post-content" data-type-cleanup="true">
          <h1>{{ page.title }}</h1>
          {{ page.content }}
        </div>
      </div>

      {% endif %}

      <footer class="footer">
        <div class="copyright">
          <p class="pull-left">All rights Reserved &copy; <a href="/">{{ site.name }}</a>.</p>
        </div>
      </footer>
    </div>

    {% endif %}

    {{ footer_meta }}
    
    <!-- javasript -->
    <script src="{{ assets('js/gridly.min.js') }}" /></script>

</body>
</html>
